/* Colors extracted fom https://code.visualstudio.com/api/references/theme-color#text-colors */

/*** Styling of UI layout ***/

html {
    height: 100%;
}

body {
    height: calc(100% - 2px);
}

.container {
    display: flex;
    border: 1px solid var(--vscode-widget-border);
    height: 100%;
    width: 100%;
}

.resizer[data-direction='horizontal'] {
    background-color: var(--vscode-widget-border);
    position: relative; /* Ensure positioning context for the pseudo-element */
    cursor: ew-resize;
    height: 100%;
    width: 1px;
}

.resizer[data-direction='horizontal']::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px; /* Adjust as needed for the desired interactive area */
    width: 9px; /* Increase this width for the interactive area */
}

.resizer[data-direction='vertical'] {
    background-color: var(--vscode-widget-border);
    position: relative; /* Ensure positioning context for the pseudo-element */
    cursor: ns-resize;
    height: 1px;
    width: 100%;
}

.resizer[data-direction='vertical']::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    top: -4px; /* Adjust as needed for the desired interactive area */
    bottom: 4px; /* Increase this width for the interactive area */
    left: 0;
    right: 0;
    height: 9px;
}

.container__left {
    width: 25%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.container__right {
    flex: 1;
    display: flex;
}

.container__top {
    height: 12rem;
    min-height: 100px;
}

.container__bottom {
    flex: 1;
    margin: 5px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.container_title {
    padding: 5px;
    font-weight: bold;
    user-select: none; /* Prevent text selection */
}

.container_contents {
    overflow: auto;
    flex: 1;
}

/*** Styling of hierarchical views ***/

.hierarchy {
    position:relative;
    overflow:hidden;
    list-style: none;
    padding: 0; 
    margin:0;
}

.hierarchy ul {
    list-style: none;
    padding: 0; 
    margin:0;
}

.hierarchy li {
    cursor: pointer;
    margin:0;
    padding: 0; 
    padding-left: 10px;
}

.hierarchy li .hierarchy_element {
    padding-left: 100%;
    margin-left: -100%;
}

.hierarchy li .hierarchy_element:not(.selected):hover {
    color: var(--vscode-list-hoverForeground);
    background: var(--vscode-list-hoverBackground);
}

.selected {
    color: var(--vscode-list-activeSelectionForeground);
    background: var(--vscode-list-activeSelectionBackground);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\2304";
    display: inline-block;
    margin-right: 6px;
    transform: rotate(-90deg);
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(0deg);
}